.category-card {
    margin: 0;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.category-card p {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}