/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

* {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    --background: #9E0043 !important;
    --color: white;

    --border-color: #9E0043;
    --border-width: 4px 0;
    --border-style: double;

    --min-height: 60px;
    --padding-top: 5px;
    --padding-bottom: 5px;
}

.custom-tab {
    --color: #000000;
    --color-selected: #9E0043;
}


.custom-tab .icon-heart {
    color: yellow;
}

ion-toolbar {
    --background: #fff;
    --border-color: #fff;
}

.ion-header {
    box-shadow: none !important;
}